.home_component {
  padding: 2rem 2rem 0 2rem;

  .btns_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;

    a button {
      width: 100%;
      height: 100%;
    }
  }

  .card_saldo {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  .card_portfolio {
    a {
      color: whitesmoke;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text_no-portfolio {
    margin-top: 2rem;
    text-align: center;
  }

  @media only screen and (max-width: 570px) {
    .btns_container {
      grid-template-columns: 1fr;
      grid-gap: 0.5rem;
    }

    .card_saldo {
      flex-direction: column;
      padding: 1rem;
    }
  }
}
