.main-header_component {
  background-color: #1e1e1e;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: whitesmoke;
  }

  h1 {
    margin: 0;
  }

  .btn_container button {
    margin: 0 0.5rem;
  }
}
