.coin-detail_component {
  padding: 2rem 2rem 0 2rem;
  background-color: #121212;
  color: whitesmoke;
  min-height: 100vh;

  .breadcrumb_container {
    margin-bottom: 2rem;

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .first_div {
    display: flex;
    align-items: center;

    .coin_image {
      width: 2rem;
      border-radius: 1rem;
      margin-right: 0.5rem;
    }
    h3 {
      margin: 0;
    }
  }

  .second_div {
    display: flex;
    align-items: center;

    h1 {
      font-size: 2rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }

    span {
      font-weight: 700;
      display: flex;
      align-items: center;
    }
  }

  .third_div button {
    margin-right: 0.5rem;
  }

  .more-details_coin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 70%;
    font-size: 0.9rem;
    margin-top: 2rem;

    section div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid grey;
      margin-bottom: 1rem;

      .span_grey {
        color: gray;
      }

      .span_number {
        font-weight: 500;
      }
    }
  }

  .more-info_container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: flex-start;

    .card_container {
      .card-content_container {
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid grey;
          margin-bottom: 1rem;
          font-size: 0.9rem;

          .span_grey {
            color: gray;
          }

          .span_number {
            font-weight: 500;
          }
        }
      }
    }
  }

  .loader_container {
    display: flex;
    justify-content: center;
  }

  // tablet
  @media only screen and (max-width: 820px) {
    .more-details_coin {
      width: 100%;
    }

    .more-info_container {
      grid-template-columns: 1fr;
    }
  }

  // mobile
  @media only screen and (max-width: 550px) {
    .more-details_coin {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }
}
