.modal-password_component {
  .inputs_container {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

    .btns_container {
      display: flex;
      justify-content: space-between;
    }
  }
}
