.sign-in_component {
  padding: 2rem 2rem 0 2rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  .backgroud_black {
    position: absolute;
    top: 0;
    width: 50%;
    height: 70%;
    margin: 1rem;
    background-color: #121212;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card_sign-up,
  .card_log-in {
    width: fit-content;

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }

    .alert_log-in {
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: 850px) {
    .card_sign-up,
    .card_log-in {
      form {
        grid-template-columns: 1fr;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr;

    .backgroud_black {
      display: none;
    }
  }
}
